body{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.clearFix::after{
    content:"";
    display: block;
    clear: both;
}

.carousel-box{
    width: 500px;
    height: 300px;
    background-color: yellow;
    overflow: hidden;
    margin: 50px auto; 
    position: relative;
}

.slider{
    width: 100%;
    height: 100%;
    position: relative;
}

.slider li{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    top: 0;
    display: none;
    transition: all 3s;
}

.slider li img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider li.active{
    left: 0;
    display: block;
}
.slider li.next-active, .slider li.prev-active, .slider li.next,li.prev{
    display: block;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
.slider li.next-active{
    animation-name: next-active;
}

.slider li.prev-active{
    animation-name: prev-active;
}

.slider li.next{
    animation-name: next;
}
.slider li.prev{
    animation-name: prev;
}

.btn-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.next-btn{
    position: absolute;
    right:0;
    top: 50%;
    transform: translate(0, -50%);
}
.pre-btn{
    position: absolute;
    left:0;
    top: 50%;
    transform: translate(0, -50%);
}

.pagenation{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 35px;
    transform: translate(-50%, 0);
    content:"";
    display: block;
    clear: both;
}
.pagenation li {
    float: left;
    margin-left:5px;
}
.pagenation li:first-child{
    margin-left: 0;
}

@keyframes next {
    0%{
        left:0%;
    }
    100%{
        left:100%;
    }
}

@keyframes prev {
    0%{
        left:0%;
    }
    100%{
        left:-100%;
    }
}

@keyframes next-active {
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}

@keyframes prev-active {
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}